In [1]:
# Q3.
# Sales of products in four different regions is tabulated for males and females. 
# Find if male-female buyer rations are similar across regions.
# Check p-value. If p-Value < alpha, we reject Null Hypothesis.

In [2]:
# ANSWER
# Assume Null Hypothesis Ho as = male-female buyer rations are similar across regions. 
# Thus Alternate Hypothesis Ha as = male-female buyer rations are NOT similar across regions. 
# By using Chi-Square contengency independence test.

In [3]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [4]:
data=pd.read_csv("C:/Users/Dhanashree/Downloads/BuyerRatio.csv")

In [5]:
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [6]:
# We need to make dimensional array in order to get male and female 2 different sets.

In [7]:
obs=np.array([[50,142,131,70],[435,1523,1356,750]])
obs

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [8]:
# Taking Chi2 contengency independence test results in (Chi2 stats value, p_value, df, expected obsvations).

In [10]:
chi2_contingency(obs)

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [11]:
# Inference: As (p-value = 0.6603) > (Î± = 0.05). 
# Accept the Null Hypothesis thus, male-female buyer rations are similar across regions.